@import "../../global.scss";
.works {
  background-color: rgb(230, 97, 124);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    font-size: 70px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
      transform: rotate(180deg);
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          height: 180px;
          width: 80%;
          margin: 5px 0;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .iconContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(238, 171, 146);
              display: flex;
              justify-content: center;
              align-items: center;
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        .right {
          flex: 8;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          height: 100%;

          img {
            height: 90%;
            width: 500px;
            transform: rotate(-7deg);
            filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 1));
          }
        }
      }
    }
  }
}
