.App {
  height: 100vh;

  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
  }

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    background: rgb(252, 241, 241);
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
